# .env has secrets for tomknightatl/diocesan-vitality
# .env.example has starting template without secrets

# Supabase Secrets
SUPABASE_KEY=<key>
SUPABASE_URL=<url>

# AI Inference API Keys:
GENAI_API_KEY=<key>
SEARCH_API_KEY=<key>
SEARCH_CX=<key>